<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <mvc:annotaion-driven/> <!--@Controller-->
    <mvc:default-servlet-handler/> <!--/ 경로 처리-->
    <mvc:view-resolvers> <!--jsp로 실행결과 보여줌-->
        <mvc:jsp prefix="/WEB-INF/view/" />
    </mvc:view-resolvers>
</beans>
